<h1>Owner::Equipments#new</h1>
<p>Find me in app/views/owner/equipments/new.html.erb</p>

<div class="container">
  <h1>Bonjour jeune rider ! Bienvenue à bord !</h1>
  <h2> Planche de surf, aile de kite, paddle, ... Tu ne comptes plus les équipements nautiques qui dorment dans ta cave ? C'est le moment d'en faire partager la communauté Ride & Swell et de les mettre en location </h2>
  <h3> Il te suffit de compléter ce formulaire et en quelques clicks ton annonce sera en ligne.</h3>
</div>

<div class="adding-equipment-form">
  <%= simple_form_for @equipment do |f| %>
    <%= f.input :sport, label: "Type d'équipement", collection: Equipment::SPORTS %>
    <%= f.input :location, label: "Lieu", placeholder: "Indique la ville dans laquelle ton équipement est disponible"%>
    <%= f.input :title, label: "Titre"%>
    <%= f.input :brand, label: "Marque"%>
    <%= f.input :description, label: "Description", placeholder: "Décris ton équipement"%>
    <%= f.input :board_size, label: "Taille de la planche"%>
    <%= f.input :sail_size, label: "Taille de l'aile"%>
    <%= f.input :condition, label: "Etat", placeholder: "Indique l'état de ton équipement", collection: Equipment::CONDITIONS %>
    <%= f.input :price, label: "Prix", placeholder: "0€" %>
    <%= f.submit "Ajouter", class: "btn btn-primary" %>
  <% end %>
</div>
