
<div class="card-category-sport m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("#{@equipment.sport.downcase}-banner.jpeg") %>)">
  <h1><%= @equipment.sport %></h1>
</div>

<div class="container">

  <div class="card">
    <div class="card-body">

      <div class="card-title">
        <h2> <%= @equipment.title %> </h2>
      </div>

      <div class="card-subtitle d-flex justify-content-between">
        <h3>📍 <%= @equipment.location %> </h3>
        <p><%= @equipment.user.first_name %></p>
      </div>

      <div class="card-text d-flex justify-content-around">
        <%= cl_image_tag(@equipment.photo.key, :width => 400, :height => 400) %>
        <div class="description-text">
          <div class="price">
            <h2><%= @equipment.price %>€</h2>
            <p> <i>prix/jour</i> </p>
          </div>
          <p><strong>Marque:</strong> <%= @equipment.brand %></p>
          <% if @equipment.board_size? %>
            <p><strong>Taille de la board:</strong> <%= @equipment.board_size %> </p>
          <% end %>
          <% if @equipment.sail_size? %>
            <p><strong>Taille de l'aile:</strong> <%= @equipment.sail_size %> </p>
          <% end %>
          <p><strong>Etat:</strong> <%= @equipment.condition %></p>
          <p class="description">Description: <%= @equipment.description %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="booking-form">
    <div class="container">
      <%= simple_form_for [ @equipment, @booking ] do |f| %>
        <%= f.input :start_date, label: "Début de location", html5: true %>
        <%= f.input :end_date, label: "Fin de location", html5: true %>
        <%= f.submit "Louer", class: "btn btn-primary w-100" %>
      <% end %>
      <%# <%= @equipment.price * (@booking.end_date - @booking.start_date).to_i  %> %>
    </div>
  </div>

</div>
